services:
  # connect to this database with:
  # postgresql://postgres:postgres@localhost:54320
  postgres:
    image: "postgres:16-alpine"
    command: ["postgres", "-c", "wal_level=logical"]
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      # Run initialization SQL on first container startup
      - ./1.sql:/docker-entrypoint-initdb.d/1.sql:ro
    ports:
      - "54320:5432"
